doctype html
head

  title #47Hours

  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  meta(charset="utf-8")

  script.
    require('scripts/initialize');



body
  section#first(data-role="page")
    div.ui-header(data-role="header")
      h1
        | #47hours

    .ui-content(role="main")
      p.label
        img(src="images/question.png")
        | Задайте вопрос лектору
      textarea.question(name="question" placeholder="Почему ..." onkeyup="countChar(this)")
      .container
        p.counter
          span.number 0
          span /140
        .send Отправить

    .ui-footer(data-role="footer")
      p.controll_tip Управляй ходом презентации
      .button.slower
        img(src="images/slower.png")
        br
        | непонятно
      .button.faster
        img(src="images/faster.png")
        br
        | давай дальше




  section#second(data-role="page")
    .ui-content(role="main")
      .answer хуй
      .answer пизда
      .answer джигурда
      .answer крокодил
      .fill





