doctype html
head

  title #47Hours

  meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")

  link(rel="stylesheet" href="stylesheets/app-listener.css")

  script(src="javascripts/vendor-listener.js")
  script(src="javascripts/app-listener.js")

  meta(charset="utf-8")

  script.
    require('scripts/initialize');



body

  section#hello(data-role="page")
    .ui-content(role="main")
      img.ch-logo(src="images/code-hipsters-logo.svg")
      p
        a(href="https://vk.com/wall-60684683_477?reply=478") Сообщество Code Hipsters

  section#controll(data-role="page")
    div.ui-header(data-role="header")
      h1
        img(src="images/twitter.png")
        | #47hours

    .ui-content(role="main")
      p.label
        img(src="images/question.png")
        | Задайте вопрос лектору
      textarea.question(name="question" placeholder="Почему ..." onkeyup="countChar(this)")
      .container
        p.counter
          span.number 0
          span /140
        .send Отправить

  section#poll(data-role="page")
    .ui-content(role="main")
      p.empty Пока нет опросов :(
      .fill
        p Ваш голос принят!





